#heading {
    font-size: 40px;
    font-family: Georgia, serif;
    color: brown;
    margin-bottom: 5%;
}

body {
    background: url(../res/background.jpg) no-repeat;
    background-size: cover;
}

.box {
    background-color: greenyellow;
    border: 2px solid brown;
    border-radius: 0 30px 0 30px;
    -webkit-box-shadow: 4px 4px 13px 2px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 13px 2px rgba(0,0,0,0.75);
    padding: 1%;
}

#acc_form {
    text-align: center;
    position: absolute;
    width: 20%;
    top: 30%;
    left: 40%;
}

.input {
    width: 80%;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 2px solid #b7b7b7;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font: normal 20px/normal Georgia, serif;
    color: rgba(0,142,198,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    word-spacing: 1px;
    background: rgba(252,252,252,1);
    -webkit-box-shadow: 2px 2px 4px -1px rgba(0,0,0,1) ;
    box-shadow: 2px 2px 4px -1px rgba(0,0,0,1) ;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

#submit_button {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-family: Georgia, serif;
    color: greenyellow;
    font-size: 28px;
    background: brown;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#submit_button:hover {
    background: saddlebrown;
    text-decoration: none;
}